@{
    ViewBag.Title = "CHALLENGER";
}

<div class="row">
	<div class="col-md-4">
		<h2>Buscador</h2>
		<div style="float: left; margin-right: 10px;">Id Employee:</div>
		<div style="float: left; margin-right: 10px;">
			<input type="text" />
		</div>
		<div style="float: left; margin-right: 10px;">
			<button value="Find" title="Find">Find</button>
		</div>
	</div>
</div>

<div class="jumbotron">
	<p class="lead">Resultados:</p>

	<table id="tb_result">
		<tr>
			<td>Id Employee</td>
			<td>Name</td>
			<td>Contract Type</td>
			<td>Role</td>
			<td>Hourly Salary</td>
			<td>Monthly Salary</td>
		</tr>
		<tr>
			<td>Id Employee</td>
			<td>Name</td>
			<td>Contract Type</td>
			<td>Role</td>
			<td>Hourly Salary</td>
			<td>Monthly Salary</td>
		</tr>
		<tr>
			<td>Id Employee</td>
			<td>Name</td>
			<td>Contract Type</td>
			<td>Role</td>
			<td>Hourly Salary</td>
			<td>Monthly Salary</td>
		</tr>
	</table>

</div>